{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
<div class="columns">
{% block content %}
  <div class="column is-half">
    <h1 class="is-size-3 mt-3">Iniciar Sesion</h1>
    {% if form.errors %}
      <p class="is-size-5">
        Tu nombre y contraseña no coinciden.
      </p>
    {% else %}
    <p>
      Utiliza el formulario para iniciar sesion. 
      Si no tienes una cuenta <a href="{% url "register" %}">registrate aqui</a>.
    </p>
    {% endif %}
    
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {% load widget_tweaks %}
        {% for field in form %}
          {{field.label_tag}}
          {% render_field field class+="input mt-2" %}
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="Ingresar" class="button mt-2">
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
</div>
  {% endblock %}
</div>