{% extends '../index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <h1> Eliminar Productos </h1>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="{% url 'eliminar2' %}" method="POST">
        {% csrf_token %}


        <div class="form-group row">
            <label for="nombre" class="col-4 col-form-label">ID PRODUCTOS</label> 
            <div class="col-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-id.badge"></i>
                        </div>
                    </div> 
                    
                    <select id="id2" name="id2">    
                    {% for u in productos %}
                        <option value="{{u.id2}}">{{u.id2}}</option>
                    {% endfor%}
                    </select>

                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" type="submit" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Eliminar producto
                </button>
            </div>
        </div>
    </form>


</div>
{% endblock %}