{% extends 'index_master.html' %}

{% load static %}
{% block content %}

    <!-- page content -->
        <div class="right_col" role="main">
        </header>
        <section id="nosotros" style="font-size: 22px; text-align: justify;">
            <h2>EQUIPO DE J_CODES</h2>
            <img src="{% static 'FrWork/admin_lte/build/images/icon.jpg' %}" alt="Tarjeta 1000 V-Bucks" style="width: 150px; height: 150px; margin-right: 990px;">
            <hr>
            <br>
            <p>Somos un grupo de jóvenes aficionados a los videojuegos que decidió crear una tienda de ventas de tarjetas de créditos virtuales llamada   “J CODES”.</p>
            <p>El crecimiento sostenido de las ventas nos ha llevado a reconocer la necesidad de expandir nuestro alcance y aprovechar el potencial del mercado en línea. La creación de una página web se presenta como una oportunidad clave para exhibir nuestro amplio catálogo de códigos de videojuegos y brindar una experiencia de compra conveniente y segura para nuestros clientes.</p>
            <p>Con un enfoque en la usabilidad, la seguridad y la promoción activa, “J CODES” aspira a convertirse en el destino preferido para los jugadores en busca de códigos de juegos confiables y de alta calidad. La implementación de estrategias de marketing digital, la optimización para motores de búsqueda y la integración con redes sociales serán componentes clave en nuestra estrategia de crecimiento.</p>
        </section>
        
        
        </div>
        <!-- /page content -->
{% endblock %}